@model Wedding.eVite.Web.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section HeaderSection
{
    <script src="~/Scripts/ResetPassword.Index.js"></script>
}
<div class="log_in">
    <div class="log_in_invite">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div>
                <h4>THE WEDDING OF</h4>
                <h1>John <span style="color: #bfbfbf;">&amp;</span> Lizzie</h1>

                <div class="log_in_pattern">
                    <img src="~/Content/Images/log_in_pattern.png" />
                </div>

                <h6>When you reset your password you will be sent a new invitation email. You will be asked to change your password when you next log in.</h6>

                <div class="log_in_controls">
                    <div class="cf">
                        <div class="log_in_controls_label">Email Address:</div>
                        <div class="log_in_controls_textbox">@Html.TextBoxFor(model => model.EmailAddress, new { id = "txtUsername", @class = "textbox" })</div>
                    </div>

                    <div class="cf">
                        <div class="log_in_controls_button"><input type="button" value="Cancel" class="button" onclick="location.href='@Url.Action("LogOut", "LogIn" )'" /></div>
                        <div class="log_in_controls_button"><input type="submit" value="Reset Password" class="button" /></div>
                    </div>

                    <div class="log_in_error"> @if (String.IsNullOrEmpty(ViewBag.ErrorMessage)) { <text>&nbsp;</text> } else { <text> @ViewBag.ErrorMessage</text>}</div>
                </div>
            </div>
        }
    </div>
</div>